.container {
    margin-top: 80px;
}

.card {
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #e5e3e9;
    background-color: #1b0943;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.medals {
    background-color: #996eb4;
    border: 5px solid #1b0943;
    color: #e5e3e9;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
}

    .medals i {
        margin-top: 1rem;
    }

.progress-bar {
    background-color: #1b0943;
}

.mensagem {
    background-color: #1b0943; 
    color: #e5e3e9; 
    padding: 10px; 
    border-radius: 10%; 
    float: right; 
    margin-right: 10px;
    visibility: hidden;
}

.home-div, .home-div-dark {
    background-color: #996eb4;
    color: #1b0943;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}

.home-div-dark {
    background-color: #1b0943;
    color: #e5e3e9;
}

    .home-div a {
        text-decoration: none;
        color: #1b0943;
    }